@charset "utf-8";

.shane_tm_settings .colors li a.blue {
    background-color: #4169e1;
}

.shane_tm_settings .colors li a.green {
    background-color: #66B95C;
}

.shane_tm_settings .colors li a.brown {
    background-color: #ff9800;
}

.shane_tm_settings .colors li a.pink {
    background-color: #ff5e94;
}

.shane_tm_settings .colors li a.orange {
    background-color: #ffbc66;
}

.shane_tm_settings .colors li a.black {
    background-color: #333;
}

.shane_tm_settings .colors li a.white {
    background-color: #e5e5e5;
}

.shane_tm_settings .colors li a.purple {
    background-color: #9200ee;
}

.shane_tm_settings .colors li a.sky {
    background-color: #00D4BD;
}

.shane_tm_settings .colors li a.cadetBlue {
    background-color: #5e9e9f;
}

.shane_tm_settings .colors li a.crimson {
    background-color: #e54b4b;
}

.shane_tm_settings .colors li a.olive {
    background-color: #666d41;
}

.shane_tm_settings .colors li a.red {
    background-color: #fe0000;
}

// Orange Theme ============================================================== //
.shane_tm_all_wrap[data-color="orange"] .shane_tm_topbar .menu .anchor_nav a.is-active {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_topbar .menu .anchor_nav a:hover {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_hero .content h3 {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_hero .content h3 span {
    -webkit-text-stroke: 1px #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_title span {
    background-color: rgba(250, 91, 15, .05);
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_button a {
    background-color: #ffbc66;
    border-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_button a:hover {
    background-color: transparent;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_portfolio .portfolio_filter ul li a.current {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_portfolio .portfolio_filter ul li a:hover {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .progress_inner .background .bar_in {
    background: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_business_video .rounded {
    background-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_business_video .rounded:before {
    border-color: transparent transparent transparent #fff;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_video_button a {
    border-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_video_button a:hover {
    background-color: #ffbc66;
    color: #fff;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_news .news_list ul li .details .title a:hover {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_news .news_list ul li .details .date a:hover {
    color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_talk .button a {
    background-color: #ffbc66;
    color: #fff;
    border-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_talk .button a:hover {
    background-color: transparent;
}

.shane_tm_all_wrap[data-color="orange"] .shane_tm_modalbox_news .description blockquote {
    border-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .cursor-inner.cursor-hover {
    background-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .cursor-outer {
    border-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .cursor-inner {
    background-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .overlay_effect:before {
    background-color: #ffbc66;
}

.shane_tm_all_wrap[data-color="orange"] .contact_form .tokyo_tm_button button {
    background-color: #ffbc66;
    border-color: #ffbc66;

    &:hover {
        background: transparent;
    }
}

// Black Theme ============================================================== //
.shane_tm_all_wrap[data-color="black"] .shane_tm_topbar .menu ul li.current a {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_topbar .menu ul li a:hover {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_hero .content h3 {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_hero .content h3 span {
    -webkit-text-stroke: 1px #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_title span {
    background-color: rgba(0, 0, 0, .05);
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_button a {
    background-color: #000;
    border-color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_button a:hover {
    background-color: transparent;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_portfolio .portfolio_filter ul li a.current {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_portfolio .portfolio_filter ul li a:hover {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .progress_inner .background .bar_in {
    background: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_business_video .rounded {
    background-color: #fff;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_business_video .rounded:before {
    border-color: transparent transparent transparent #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_video_button a {
    border-color: #fff;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_video_button a:hover {
    background-color: #fff;
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_news .news_list ul li .details .title a:hover {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_news .news_list ul li .details .date a:hover {
    color: #000;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_talk .button a {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_talk .button a:hover {
    background-color: transparent;
    color: #fff;
}

.shane_tm_all_wrap[data-color="black"] .shane_tm_modalbox_news .description blockquote {
    border-color: #000;
}

.shane_tm_all_wrap[data-color="black"] .cursor-inner.cursor-hover {
    background-color: #000;
}

.shane_tm_all_wrap[data-color="black"] .cursor-outer {
    border-color: #000;
}

.shane_tm_all_wrap[data-color="black"] .cursor-inner {
    background-color: #000;
}

.shane_tm_all_wrap[data-color="black"] .overlay_effect:before {
    background-color: #000;
}